name: dunfell-stm32mp15

on:
  pull_request:
    types: [ opened, synchronize, reopened, closed ]
  release:
    types: [ published, created, edited ]
  workflow_dispatch:
  schedule:
    # daily
    - cron:  '0 0 * * *'

jobs:

  dunfell-eglfs:
  
    env:
      MACHINE: stm32mp1-disco
      DISTRO: openstlinux-eglfs
      WORKSPACE: stm32mp15-dunfell
      FLAVOR: eglfs
      
    runs-on: [self-hosted, linux]
    
    container:
      image: ghcr.io/meta-flutter/ubuntu-18-dev:main
      options:
        --user 1018
        --storage-opt overlay.mount_program=/usr/bin/fuse-overlayfs
        --storage-opt overlay.mountopt=nodev,metacopy=on,noxattrs=1
        -v /mnt/raid10/github-ci/download:/home/dev/dl:Z
        -v /mnt/raid10/github-ci/sstate/yocto/dunfell/stm32mp15:/home/dev/sstate:Z
        -v /mnt/raid10/github-ci/artifacts/stm32mp15:/home/dev/artifacts:Z

    steps:
    
      - name: Display UID Info
        run: |
          whoami
          id -u
          
      - name: Set Ownership
        run: |
          chown -R dev:dev $HOME .
          
      - uses: actions/checkout@v2

      - name: Fetch poky
        run: |
          [ -d ../${{ env.WORKSPACE }} ] || mkdir -p ../${{ env.WORKSPACE }}
          cd ../${{ env.WORKSPACE }}
          rm -rf layers
          ls -la
          /home/dev/bin/repo init -u https://github.com/STMicroelectronics/oe-manifest.git -b refs/tags/openstlinux-5.10-dunfell-mp1-21-11-30
          /home/dev/bin/repo sync --force-sync --no-clone-bundle -j `grep -c ^processor /proc/cpuinfo` &
          git clone -b dunfell-clang12 https://github.com/kraj/meta-clang.git layers/meta-clang &
          wait

      - name: Configure build
        shell: bash
        working-directory: ../${{ env.WORKSPACE }}
        run: |
          rm -rf build-openstlinuxeglfs-${{ env.MACHINE }}/conf
          echo n | source layers/meta-st/scripts/envsetup.sh --no-ui
          echo '***************************************'
          LOCAL_CONF=./build-openstlinuxeglfs-${{ env.MACHINE }}/conf/local.conf
          echo '***************************************'
          sed -i "/ACCEPT_EULA/d" $LOCAL_CONF
          echo 'ACCEPT_EULA_${{ env.MACHINE }} = "1"' >> $LOCAL_CONF
          echo 'DL_DIR = "/home/dev/dl"' >> $LOCAL_CONF
          echo 'SSTATE_DIR = "/home/dev/sstate"' >> $LOCAL_CONF
          echo 'SSTATE_MIRRORS = "file://.* file:///home/dev/sstate/PATH"' >> $LOCAL_CONF
          sed -i "/GLIBC_GENERATE_LOCALES/d" $LOCAL_CONF
          echo 'GLIBC_GENERATE_LOCALES = "en_US.UTF-8"' >> $LOCAL_CONF
          sed -i "/IMAGE_LINGUAS/d" $LOCAL_CONF
          echo 'IMAGE_LINGUAS = "en-us"' >> $LOCAL_CONF
          echo 'TOOLCHAIN_HOST_TASK_append = " nativesdk-flutter-sdk"' >> $LOCAL_CONF
          echo 'CLANGSDK = "1"' >> $LOCAL_CONF
          echo 'FLUTTER_RUNTIME_pn-flutter-drm-gbm-backend = "debug"' >> $LOCAL_CONF
          echo 'TOOLCHAIN_HOST_TASK_append = " nativesdk-flutter-sdk"' >> $LOCAL_CONF 
          echo 'INHERIT_remove = "uninative"' >> $LOCAL_CONF
          echo 'CORE_IMAGE_EXTRA_INSTALL += " \
                    flutter-engine-debug \
                    flutter-pi-debug \
                    flutter-drm-gbm-backend \
                    avahi-daemon \
                    ntp ntp-tickadj \
                    fbgrab \
                    kmscube libdrm-tests \
                    gstreamer1.0-libav \
                    gstreamer1.0-plugins-bad \
                    gstreamer1.0-plugins-good \
                    gstreamer1.0-plugins-ugly \
                    "' >> $LOCAL_CONF
          echo '********** ./conf/local.conf **********'
          cat $LOCAL_CONF
          echo '***************************************'
          source ./layers/meta-st/scripts/envsetup.sh --no-ui
          echo '***************************************'
          env
          echo '***************************************'
          bitbake-layers add-layer ../layers/meta-clang ../../meta-flutter
          bitbake-layers show-layers
          echo '***************************************'
          bitbake -e virtual/kernel | grep "^PV"
          bitbake -e virtual/kernel | grep "^PN"
          echo '***************************************'
          bitbake -e > bb.environment
          echo '* DISTRO_FEATURES *********************'
          bitbake -e st-image-core | grep "^DISTRO_FEATURES"
          echo '* CORE_IMAGE_EXTRA_INSTALL ************'
          bitbake -e st-image-core | grep "^CORE_IMAGE_EXTRA_INSTALL"
          echo '* COMBINED_FEATURES *******************'
          bitbake -e st-image-core | grep "^COMBINED_FEATURES"
          echo '* IMAGE_FEATURES **********************'
          bitbake -e st-image-core | grep "^IMAGE_FEATURES"
          echo '***************************************'
          bitbake ca-certificates -c do_cleansstate
          bitbake ca-certificates-native -c do_cleansstate
          bitbake flutter-sdk-native -c do_cleansstate
          bitbake flutter-pi-debug -c do_cleansstate
          bitbake flutter-drm-gbm-backend -c do_cleansstate
          bitbake flutter-engine-debug -c do_cleansstate
          bitbake flutter-engine-release -c do_cleansstate
          bitbake flutter-engine-profile -c do_cleansstate

      - name: Build st-image-core
        shell: bash
        working-directory: ../${{ env.WORKSPACE }}
        run: |
          source ./layers/meta-st/scripts/envsetup.sh --no-ui
          bitbake st-image-core
          rm -rf /home/dev/artifacts/*
          mkdir -p /home/dev/artifacts/arm-trusted-firmware
          cd tmp-glibc/deploy/images/${{ env.MACHINE }}
          cp -r flashlayout_st-image-core /home/dev/artifacts/
          cp -r fip /home/dev/artifacts
          cp -r scripts /home/dev/artifacts
          cp arm-trusted-firmware/*.stm32 /home/dev/artifacts/arm-trusted-firmware/
          cp st-image-*-${{ env.DISTRO }}-${{ env.MACHINE }}.ext4 /home/dev/artifacts/
          ls -la /home/dev/artifacts

      - name: Publish OS image artifact
        uses: actions/upload-artifact@v2
        with:
          name: stm32mp1-disco-core-eglfs-image
          path: |
             /home/dev/artifacts/*

      - name: Build st-image-core-flutter-debug SDK
        shell: bash
        working-directory: ../${{ env.WORKSPACE }}
        run: |
          source ./layers/meta-st/scripts/envsetup.sh --no-ui
          bitbake st-image-core -c do_populate_sdk
          rm -rf /home/dev/artifacts/*
          cp tmp-glibc/deploy/sdk/st-image-core-openstlinux-eglfs-*.sh /home/dev/artifacts/

      - name: Publish st-image-core-flutter-debug SDK artifact
        uses: actions/upload-artifact@v2
        with:
          name: st-image-core-eglfs-flutter-debug-sdk-linux
          path: |
             /home/dev/artifacts/*

  dunfell-weston:
  
    env:
      MACHINE: stm32mp1-disco
      DISTRO: openstlinux-weston
      WORKSPACE: stm32mp15-dunfell
      FLAVOR: weston
      
    runs-on: [self-hosted, linux]
    
    container:
      image: ghcr.io/meta-flutter/ubuntu-18-dev:main
      options:
        --user 1018
        --storage-opt overlay.mount_program=/usr/bin/fuse-overlayfs
        --storage-opt overlay.mountopt=nodev,metacopy=on,noxattrs=1
        -v /mnt/raid10/github-ci/download:/home/dev/dl:Z
        -v /mnt/raid10/github-ci/sstate/yocto/dunfell/stm32mp15:/home/dev/sstate:Z
        -v /mnt/raid10/github-ci/artifacts/stm32mp15:/home/dev/artifacts:Z

    steps:
    
      - name: Display UID Info
        run: |
          whoami
          id -u
          
      - name: Set Ownership
        run: |
          chown -R dev:dev $HOME .
          
      - uses: actions/checkout@v2

      - name: Fetch poky
        run: |
          [ -d ../${{ env.WORKSPACE }} ] || mkdir -p ../${{ env.WORKSPACE }}
          cd ../${{ env.WORKSPACE }}
          rm -rf layers
          ls -la
          /home/dev/bin/repo init -u https://github.com/STMicroelectronics/oe-manifest.git -b refs/tags/openstlinux-5.10-dunfell-mp1-21-11-30
          /home/dev/bin/repo sync --force-sync --no-clone-bundle -j `grep -c ^processor /proc/cpuinfo` &
          git clone -b dunfell-clang12 https://github.com/kraj/meta-clang.git layers/meta-clang &
          wait
          sed -i "/xwayland=true/d" layers/meta-st/meta-st-openstlinux/recipes-graphics/wayland/weston-init/weston.ini

      - name: Configure build
        shell: bash
        working-directory: ../${{ env.WORKSPACE }}
        run: |
          rm -rf build-openstlinux${{ env.FLAVOR }}-${{ env.MACHINE }}/conf
          echo n | source layers/meta-st/scripts/envsetup.sh --no-ui
          echo '***************************************'
          LOCAL_CONF=./build-openstlinux${{ env.FLAVOR }}-${{ env.MACHINE }}/conf/local.conf
          echo '***************************************'
          sed -i "/ACCEPT_EULA/d" $LOCAL_CONF
          echo 'ACCEPT_EULA_${{ env.MACHINE }} = "1"' >> $LOCAL_CONF
          echo 'DL_DIR = "/home/dev/dl"' >> $LOCAL_CONF
          echo 'SSTATE_DIR = "/home/dev/sstate"' >> $LOCAL_CONF
          echo 'SSTATE_MIRRORS = "file://.* file:///home/dev/sstate/PATH"' >> $LOCAL_CONF
          sed -i "/GLIBC_GENERATE_LOCALES/d" $LOCAL_CONF
          echo 'GLIBC_GENERATE_LOCALES = "en_US.UTF-8"' >> $LOCAL_CONF
          sed -i "/IMAGE_LINGUAS/d" $LOCAL_CONF
          echo 'IMAGE_LINGUAS = "en-us"' >> $LOCAL_CONF
          echo 'TOOLCHAIN_HOST_TASK_append = " nativesdk-flutter-sdk"' >> $LOCAL_CONF
          echo 'CLANGSDK = "1"' >> $LOCAL_CONF
          echo 'FLUTTER_RUNTIME_pn-flutter-drm-gbm-backend = "debug"' >> $LOCAL_CONF
          echo 'FLUTTER_RUNTIME_pn-flutter-wayland-client = "debug"' >> $LOCAL_CONF
          echo 'TOOLCHAIN_HOST_TASK_append = " nativesdk-flutter-sdk"' >> $LOCAL_CONF 
          echo 'INHERIT_remove = "uninative"' >> $LOCAL_CONF
          echo 'DISTRO_FEATURES_remove = " x11 "' >> $LOCAL_CONF
          echo 'PACKAGECONFIG_pn-ivi-homescreen-debug = "transparency"' >> $LOCAL_CONF
          echo 'PACKAGECONFIG_pn-ivi-homescreen-profile = "transparency"' >> $LOCAL_CONF
          echo 'PACKAGECONFIG_pn-ivi-homescreen-release = "transparency"' >> $LOCAL_CONF
          echo 'CORE_IMAGE_EXTRA_INSTALL_remove = " packagegroup-framework-core "' >> $LOCAL_CONF
          echo 'CORE_IMAGE_EXTRA_INSTALL_remove = " packagegroup-framework-tools "' >> $LOCAL_CONF
          echo 'CORE_IMAGE_EXTRA_INSTALL_remove = " packagegroup-framework-core-extra "' >> $LOCAL_CONF
          echo 'CORE_IMAGE_EXTRA_INSTALL_remove = " packagegroup-st-demo "' >> $LOCAL_CONF
          echo 'CORE_IMAGE_EXTRA_INSTALL_remove = " gtk+3-demo "' >> $LOCAL_CONF
          echo 'CORE_IMAGE_EXTRA_INSTALL += " \
                    weston weston-init \
                    flutter-engine-debug \
                    ivi-homescreen-debug \
                    flutter-gallery-debug \
                    adwaita-icon-theme-cursors \
                    xdg-user-dirs \
                    flutter-pi-debug \
                    flutter-drm-gbm-backend \
                    flutter-wayland-client \
                    avahi-daemon \
                    ntp ntp-tickadj \
                    dhcp-client systemd-networkd-configuration \
                    infos-openstlinux \
                    fbgrab \
                    tiff libv4l rc-keymaps packagegroup-gstreamer1-0 \
                    gstreamer1.0-libav \
                    gstreamer1.0-plugins-bad \
                    gstreamer1.0-plugins-good \
                    gstreamer1.0-plugins-ugly \
                    "' >> $LOCAL_CONF
          echo 'LICENSE_FLAGS_WHITELIST = "commercial"' >> $LOCAL_CONF
          echo '********** ./conf/local.conf **********'
          cat $LOCAL_CONF
          echo '***************************************'
          source ./layers/meta-st/scripts/envsetup.sh --no-ui
          echo '***************************************'
          env
          echo '***************************************'
          bitbake-layers add-layer ../layers/meta-clang ../../meta-flutter
          bitbake-layers show-layers
          echo '***************************************'
          bitbake -e virtual/kernel | grep "^PV"
          bitbake -e virtual/kernel | grep "^PN"
          echo '***************************************'
          bitbake -e > bb.environment
          echo '* DISTRO_FEATURES *********************'
          bitbake -e st-image-core | grep "^DISTRO_FEATURES"
          echo '* CORE_IMAGE_EXTRA_INSTALL ************'
          bitbake -e st-image-core | grep "^CORE_IMAGE_EXTRA_INSTALL"
          echo '* COMBINED_FEATURES *******************'
          bitbake -e st-image-core | grep "^COMBINED_FEATURES"
          echo '* IMAGE_FEATURES **********************'
          bitbake -e st-image-core | grep "^IMAGE_FEATURES"
          echo '***************************************'
          bitbake ca-certificates -c do_cleansstate
          bitbake ca-certificates-native -c do_cleansstate
          bitbake flutter-sdk-native -c do_cleansstate
          bitbake flutter-pi-debug -c do_cleansstate
          bitbake flutter-drm-gbm-backend -c do_cleansstate
          bitbake flutter-engine-debug -c do_cleansstate
          bitbake flutter-engine-release -c do_cleansstate
          bitbake flutter-engine-profile -c do_cleansstate

      - name: Build st-image-core
        shell: bash
        working-directory: ../${{ env.WORKSPACE }}
        run: |
          source ./layers/meta-st/scripts/envsetup.sh --no-ui
          bitbake st-image-core
          rm -rf /home/dev/artifacts/*
          mkdir -p /home/dev/artifacts/arm-trusted-firmware
          cd tmp-glibc/deploy/images/${{ env.MACHINE }}
          cp -r flashlayout_st-image-core /home/dev/artifacts/
          cp -r fip /home/dev/artifacts
          cp -r scripts /home/dev/artifacts
          cp arm-trusted-firmware/*.stm32 /home/dev/artifacts/arm-trusted-firmware/
          cp st-image-*-${{ env.DISTRO }}-${{ env.MACHINE }}.ext4 /home/dev/artifacts/
          ls -la /home/dev/artifacts

      - name: Publish OS image artifact
        uses: actions/upload-artifact@v2
        with:
          name: stm32mp1-disco-core-weston-image
          path: |
             /home/dev/artifacts/*

      - name: Build st-image-core-weston-flutter-debug SDK
        shell: bash
        working-directory: ../${{ env.WORKSPACE }}
        run: |
          source ./layers/meta-st/scripts/envsetup.sh --no-ui
          bitbake st-image-core -c do_populate_sdk
          rm -rf /home/dev/artifacts/*
          cp tmp-glibc/deploy/sdk/st-image-core-openstlinux-${{ env.FLAVOR }}-*.sh /home/dev/artifacts/

      - name: Publish st-image-core-weston-flutter-debug SDK artifact
        uses: actions/upload-artifact@v2
        with:
          name: st-image-core-weston-flutter-debug-sdk-linux
          path: |
             /home/dev/artifacts/*
