name: master-qemuarm64-linux-dummy

on:
  pull_request:
    types: [ opened, synchronize, reopened, closed ]
  release:
    types: [ published, created, edited ]

jobs:

  qemuarm64-linux-dummy:

    env:
      MACHINE: qemuarm64
      YOCTO_BRANCH: master

    runs-on: [self-hosted, linux]

    container:
      image: ghcr.io/meta-flutter/meta-flutter/ubuntu-24-dev:main
      options:
        --read-only
        --log-driver=none
        --user 1001:1001
        --userns keep-id:uid=1001,gid=1001
        --security-opt label=disable
        --pids-limit=-1
        --storage-opt overlay.mount_program=/usr/bin/fuse-overlayfs
        --storage-opt overlay.mountopt=nodev,metacopy=on,noxattrs=1
        -v /home/runner/.ssh:/home/dev/.ssh:ro
        -v /mnt/raid10/github-ci/download:/home/dev/dl:Z
        -v /mnt/raid10/github-ci/sstate/yocto/master-linux-dummy:/home/dev/sstate:Z


    steps:

      - uses: actions/checkout@v4
        with:
          path: ''

      - name: Fetch poky
        run: |
          [ -d ../master-linux-dummy ] || mkdir -p ../master-linux-dummy
          cd ../master-linux-dummy
          pwd
          ls -la
          rm -rf poky meta-openembedded meta-drm meta-vulkan
          git clone -b ${{ env.YOCTO_BRANCH }} --single-branch https://git.openembedded.org/bitbake.git &
          git clone -b ${{ env.YOCTO_BRANCH }} --single-branch https://git.openembedded.org/openembedded-core.git &
          git clone -b ${{ env.YOCTO_BRANCH }} --single-branch https://git.yoctoproject.org/meta-yocto.git &
          git clone -b ${{ env.YOCTO_BRANCH }} --single-branch https://github.com/openembedded/meta-openembedded.git &
          git clone -b ${{ env.YOCTO_BRANCH }} --single-branch https://git.yoctoproject.org/meta-yocto.git &
          git clone -b ${{ env.YOCTO_BRANCH }} --single-branch https://github.com/jwinarske/meta-drm.git &
          git clone -b ${{ env.YOCTO_BRANCH }} --single-branch https://github.com/jwinarske/meta-vulkan.git &
          wait

      - name: Configure build
        shell: bash
        working-directory: ../master-linux-dummy
        run: |
          rm -rf build/conf
          . ./openembedded-core/oe-init-build-env
          echo '***************************************'
          sed -i '/MACHINE ??=/d' ./conf/local.conf
          echo "MACHINE ??= \"${{ env.MACHINE }}\"" >> ./conf/local.conf
          echo '***************************************'
          # Include CI build configuration to disable SPDX
          echo 'require ../../meta-flutter/conf/distro/include/ci-build.inc' >> ./conf/local.conf
          echo '********** ./conf/local.conf **********'
          cat ./conf/local.conf
          echo '***************************************'
          bitbake-layers show-layers
          bitbake-layers add-layer \
              ../openembedded-core/meta \
              ../meta-yocto/meta-yocto-bsp \
              ../meta-yocto/meta-poky \
              ../meta-openembedded/meta-oe \
              ../meta-openembedded/meta-filesystems \
              ../meta-openembedded/meta-gnome \
              ../meta-openembedded/meta-multimedia \
              ../meta-openembedded/meta-networking \
              ../meta-openembedded/meta-python \
              ../meta-drm \
              ../meta-vulkan \
              ../../meta-flutter \
              ../../meta-flutter/meta-flutter-apps
          bitbake-layers show-layers
          echo '***************************************'
          bitbake -e virtual/kernel | grep "^PV"
          bitbake -e virtual/kernel | grep "^PN"
          echo '***************************************'
          bitbake -e core-image-minimal | grep "^DISTRO_FEATURES"
          echo '***************************************'
          bitbake -e > bb.environment
          bitbake openssl -c do_cleansstate
          bitbake util-linux-libuuid -c do_cleansstate
          bitbake libxcrypt -c do_cleansstate
          bitbake libffi -c do_cleansstate

      - name: Build ca-certificates
        shell: bash
        working-directory: ../master-linux-dummy
        run: |
          . ./openembedded-core/oe-init-build-env
          bitbake ca-certificates -c do_cleansstate
          bitbake ca-certificates

      - name: Build ca-certificates-native
        shell: bash
        working-directory: ../master-linux-dummy
        run: |
          . ./openembedded-core/oe-init-build-env
          bitbake ca-certificates-native -c do_cleansstate
          bitbake ca-certificates-native

      - name: Build flutter-sdk-native
        shell: bash
        working-directory: ../master-linux-dummy
        run: |
          . ./openembedded-core/oe-init-build-env
          bitbake flutter-sdk-native -c do_cleansstate
          bitbake flutter-sdk-native

      - name: Build dart-sdk
        shell: bash
        working-directory: ../master-linux-dummy
        run: |
          . ./openembedded-core/oe-init-build-env
          bitbake dart-sdk -c do_cleansstate
          bitbake dart-sdk

      - name: Build pdfium
        shell: bash
        working-directory: ../master-linux-dummy
        run: |
          . ./openembedded-core/oe-init-build-env
          bitbake pdfium -c do_cleansstate
          bitbake pdfium

      - name: Build sentry
        shell: bash
        working-directory: ../master-linux-dummy
        run: |
          . ./openembedded-core/oe-init-build-env
          bitbake sentry -c do_cleansstate
          bitbake sentry

      - name: Build rive-text
        shell: bash
        working-directory: ../master-linux-dummy
        run: |
          . ./openembedded-core/oe-init-build-env
          bitbake rive-text -c do_cleansstate
          bitbake rive-text

      - name: Build flutter-engine
        shell: bash
        working-directory: ../master-linux-dummy
        run: |
          . ./openembedded-core/oe-init-build-env
          bitbake flutter-engine -c do_cleansstate
          bitbake flutter-engine

      - name: Build ivi-homescreen
        shell: bash
        working-directory: ../master-linux-dummy
        run: |
          . ./openembedded-core/oe-init-build-env
          bitbake ivi-homescreen -c do_cleansstate
          bitbake ivi-homescreen

      - name: Build flutter-auto
        shell: bash
        working-directory: ../master-linux-dummy
        run: |
          . ./openembedded-core/oe-init-build-env
          bitbake flutter-auto -c do_cleansstate
          bitbake flutter-auto

      - name: Build flutter-pi
        shell: bash
        working-directory: ../master-linux-dummy
        run: |
          . ./openembedded-core/oe-init-build-env
          bitbake flutter-pi -c do_cleansstate
          bitbake flutter-pi

      - name: Build toyota-connected-tcna-packages-camera-linux-camera-example
        shell: bash
        working-directory: ../master-linux-dummy
        run: |
          . ./openembedded-core/oe-init-build-env
          bitbake toyota-connected-tcna-packages-camera-linux-camera-example -c do_cleansstate
          bitbake toyota-connected-tcna-packages-camera-linux-camera-example

      - name: Build toyota-connected-tcna-packages-filament-scene-fluorite-examples-demo
        shell: bash
        working-directory: ../master-linux-dummy
        run: |
          . ./openembedded-core/oe-init-build-env
          bitbake toyota-connected-tcna-packages-filament-scene-fluorite-examples-demo -c do_cleansstate
          bitbake toyota-connected-tcna-packages-filament-scene-fluorite-examples-demo

      - name: Build toyota-connected-tcna-packages-video-player-video-player-linux-video-player-example
        shell: bash
        working-directory: ../master-linux-dummy
        run: |
          . ./openembedded-core/oe-init-build-env
          bitbake toyota-connected-tcna-packages-video-player-video-player-linux-video-player-example -c do_cleansstate
          bitbake toyota-connected-tcna-packages-video-player-video-player-linux-video-player-example

      - name: Build toyota-connected-tcna-packages-flatpak-flutter-example
        shell: bash
        working-directory: ../master-linux-dummy
        run: |
          . ./openembedded-core/oe-init-build-env
          bitbake toyota-connected-tcna-packages-flatpak-flutter-example -c do_cleansstate
          bitbake toyota-connected-tcna-packages-flatpak-flutter-example
