name: stm32mp15

on:
  pull_request:
    types: [ opened, synchronize, reopened, closed ]
  release:
    types: [ published, created, edited ]
  workflow_dispatch:
  schedule:
    # daily
    - cron:  '0 0 * * *'

jobs:

  dunfell-drm:
  
    env:
      MACHINE: stm32mp1-disco
      DISTRO: openstlinux-eglfs
      
    runs-on: [self-hosted, linux]
    
    container:
      image: ghcr.io/meta-flutter/ubuntu-20-dev:main
      options:
        --user 1018
        --storage-opt overlay.mount_program=/usr/bin/fuse-overlayfs
        --storage-opt overlay.mountopt=nodev,metacopy=on,noxattrs=1
        -v /b/github-ci/download:/home/dev/dl:Z
        -v /b/github-ci/sstate/yocto/dunfell/stm32mp15:/home/dev/sstate:Z
        -v /b/github-ci/artifacts/stm32mp15:/home/dev/artifacts:Z

    steps:
    
      - name: Display UID Info
        run: |
          whoami
          id -u
          
      - name: Set Ownership
        run: |
          chown -R dev:dev $HOME .
          
      - uses: actions/checkout@v2

      - name: Fetch poky
        run: |
          [ -d ../stm32mp15-dunfell ] || mkdir -p ../stm32mp15-dunfell
          cd ../stm32mp15-dunfell
          rm -rf layers
          ls -la
          /home/dev/bin/repo init -u https://github.com/STMicroelectronics/oe-manifest.git -b refs/tags/openstlinux-5.10-dunfell-mp1-21-07-21
          /home/dev/bin/repo sync --force-sync --no-clone-bundle -j `grep -c ^processor /proc/cpuinfo` &
          git clone -b dunfell https://github.com/kraj/meta-clang.git layers/meta-clang &
          wait

      - name: Configure build
        shell: bash
        working-directory: ../stm32mp15-dunfell
        run: |
          rm -rf build-openstlinuxeglfs-stm32mp1-disco
          echo n | source layers/meta-st/scripts/envsetup.sh --no-ui
          echo '***************************************'
          LOCAL_CONF=./build-openstlinuxeglfs-stm32mp1-disco/conf/local.conf
          echo '***************************************'
          echo 'ACCEPT_EULA_stm32mp1-disco = "1"' >> $LOCAL_CONF
          echo 'DL_DIR = "/home/dev/dl"' >> $LOCAL_CONF
          echo 'SSTATE_DIR = "/home/dev/sstate"' >> $LOCAL_CONF
          echo 'SSTATE_MIRRORS = "file://.* file:///home/dev/sstate/PATH"' >> $LOCAL_CONF
          echo 'MACHINE_FEATURES_remove = "fip"' >> $LOCAL_CONF
          echo 'DISTRO_FEATURES_remove = "wayland x11"' >> $LOCAL_CONF
          echo 'INHERIT_remove = "uninative"' >> $LOCAL_CONF
          echo 'FLUTTER_CHANNEL = "master"' >> $LOCAL_CONF
          echo 'PACKAGECONFIG_pn-flutter-engine = "embedder-for-target disable-desktop-embeddings fontconfig mode-debug"' >> $LOCAL_CONF
          echo 'CORE_IMAGE_EXTRA_INSTALL += "flutter-pi flutter-drm-gbm-backend flutter-gallery"' >> $LOCAL_CONF
          echo '********** ./conf/local.conf **********'
          cat $LOCAL_CONF
          echo '***************************************'
          source ./layers/meta-st/scripts/envsetup.sh --no-ui
          echo '***************************************'
          env
          echo '***************************************'
          bitbake-layers add-layer ../layers/meta-clang ../../meta-flutter ../layers/meta-stm32mp15
          bitbake-layers show-layers
          echo '***************************************'
          pushd ../layers
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./openembedded-core/meta/recipes-graphics/xorg-lib/libxkbcommon_0.10.0.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./meta-st/meta-st-stm32mp/recipes-bsp/u-boot/u-boot-stm32mp_2020.10.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./openembedded-core/meta/recipes-extended/libidn/libidn2_2.3.0.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./openembedded-core/meta/recipes-graphics/xorg-lib/libxkbcommon_0.10.0.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./meta-st/meta-st-stm32mp/recipes-extended/m4projects/m4projects-stm32mp1.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./openembedded-core/meta/recipes-kernel/kmod/kmod_git.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./openembedded-core/meta/recipes-graphics/drm/libdrm_2.4.101.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./meta-clang/recipes-devtools/clang/compiler-rt_git.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./openembedded-core/meta/recipes-core/systemd/systemd_244.5.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./openembedded-core/meta/recipes-core/libxml/libxml2_2.9.10.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./openembedded-core/meta/recipes-graphics/wayland/libinput_1.15.2.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./meta-flutter/recipes-graphics/flutter-engine/flutter-engine_git.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./openembedded-core/meta/recipes-graphics/wayland/wayland_1.18.0.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./meta-clang/recipes-devtools/clang/libcxx_git.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./meta-st/meta-st-openstlinux/recipes-support/libgpiod/libgpiod_1.6.2.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./meta-st/meta-st-openstlinux/recipes-st/initrd/st-initrd.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./openembedded-core/meta/recipes-support/gnutls/gnutls_3.6.14.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./openembedded-core/meta/recipes-core/glib-2.0/glib-2.0_2.62.6.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./openembedded-core/meta/recipes-devtools/python/python3-dbus_1.2.16.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./openembedded-core/meta/recipes-support/shared-mime-info/shared-mime-info_git.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./openembedded-core/meta/recipes-gnome/gobject-introspection/gobject-introspection_1.62.0.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./openembedded-core/meta/recipes-devtools/python/python3-pygobject_3.34.0.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./openembedded-core/meta/recipes-connectivity/avahi/avahi_0.7.bb
          echo '_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"' >> ./meta-openembedded/meta-oe/recipes-support/libiio/libiio_git.bb
          popd
          echo '***************************************'
          bitbake -e > bb.environment
          echo '***************************************'
          bitbake -e virtual/kernel | grep "^PV"
          bitbake -e virtual/kernel | grep "^PN"
 
      - name: Build st-image-core
        shell: bash
        working-directory: ../stm32mp15-dunfell
        run: |
          source ./layers/meta-st/scripts/envsetup.sh --no-ui
          bitbake flutter-engine -c do_cleansstate
          bitbake flutter-sdk-native -c do_cleansstate
          bitbake flutter-pi -c do_cleansstate
          bitbake flutter-drm-gbm-backend -c do_cleansstate
          bitbake flutter-gallery -c do_cleansstate
          bitbake st-image-core
          ls -la tmp-glibc/deploy/images/stm32mp1-disco/*

      - name: Publish OS image artifact
        uses: actions/upload-artifact@v2
        with:
          name: stm32mp15-disco-image
          path: |
             /home/dev/artifacts/*
