name: stm32mp15

on:
  pull_request:
    types: [ opened, synchronize, reopened, closed ]
  release:
    types: [ published, created, edited ]
  workflow_dispatch:
  schedule:
    # daily
    - cron:  '0 0 * * *'

jobs:

  dunfell-drm:
  
    env:
      MACHINE: stm32mp1-disco
      DISTRO: openstlinux-eglfs
      
    runs-on: [self-hosted, linux]
    
    container:
      image: ghcr.io/meta-flutter/ubuntu-20-dev:main
      options:
        --user 1018
        --storage-opt overlay.mount_program=/usr/bin/fuse-overlayfs
        --storage-opt overlay.mountopt=nodev,metacopy=on,noxattrs=1
        -v /b/github-ci/download:/home/dev/dl:Z
        -v /b/github-ci/sstate/yocto/dunfell/stm32mp15:/home/dev/sstate:Z
        -v /b/github-ci/artifacts/stm32mp15:/home/dev/artifacts:Z

    steps:
    
      - name: Display UID Info
        run: |
          whoami
          id -u
          
      - name: Set Ownership
        run: |
          chown -R dev:dev $HOME .
          
      - uses: actions/checkout@v2
        with:
          path: meta-flutter

      - name: Fetch poky
        run: |
          [ -d ../stm32mp15-dunfell ] || mkdir -p ../stm32mp15-dunfell
          cd ../stm32mp15-dunfell
          pwd
          ls -la
          git config --list
          git config --global user.email joel@winarske@gmail.com
          git config --global user.name "Joel Winarske"
          git config --list
          rm -rf layers/meta-clang
          rm -rf layers/meta-flutter
          /home/dev/bin/repo init -u https://github.com/STMicroelectronics/oe-manifest.git -b refs/tags/openstlinux-5.10-dunfell-mp1-21-07-21
          /home/dev/bin/repo sync --force-sync --no-clone-bundle -j `grep -c ^processor /proc/cpuinfo` &
          git clone -b dunfell https://github.com/kraj/meta-clang.git layers/meta-clang &
          git clone -b main https://github.com/meta-flutter/meta-flutter.git layers/meta-flutter &
          wait

      - name: Configure build
        shell: bash
        working-directory: ../stm32mp15-dunfell
        run: |
          rm -rf build-openstlinuxeglfs-stm32mp1-disco
          echo n | source layers/meta-st/scripts/envsetup.sh --no-ui
          echo '***************************************'
          LOCAL_CONF=./build-openstlinuxeglfs-stm32mp1-disco/conf/local.conf
          sed -i '/ACCEPT_EULA_/d' $LOCAL_CONF
          sed -i '/DL_DIR/d' $LOCAL_CONF
          sed -i '/SSTATE_DIR/d' $LOCAL_CONF
          sed -i '/SSTATE_MIRRORS/d' $LOCAL_CONF
          sed -i '/FLUTTER_CHANNEL/d' $LOCAL_CONF
          sed -i '/MACHINE_FEATURES_remove/d' $LOCAL_CONF
          sed -i '/DISTRO_FEATURES_remove/d' $LOCAL_CONF
          sed -i '/INHERIT_remove/d' $LOCAL_CONF
          sed -i '/PACKAGECONFIG/d' $LOCAL_CONF
          sed -i '/flutter-pi/d' $LOCAL_CONF
          sed -i '/flutter-gallery/d' $LOCAL_CONF
          echo '***************************************'
          echo 'ACCEPT_EULA_stm32mp1-disco = "1"' >> $LOCAL_CONF
          echo 'DL_DIR = "/home/dev/dl"' >> $LOCAL_CONF
          echo 'SSTATE_DIR = "/home/dev/sstate"' >> $LOCAL_CONF
          echo 'SSTATE_MIRRORS = "file://.* file:///home/dev/sstate/PATH"' >> $LOCAL_CONF
          echo 'MACHINE_FEATURES_remove = "fip"' >> $LOCAL_CONF
          echo 'DISTRO_FEATURES_remove = "wayland x11"' >> $LOCAL_CONF
          echo 'INHERIT_remove = "uninative"' >> $LOCAL_CONF
          echo 'FLUTTER_CHANNEL = "master"' >> $LOCAL_CONF
          echo 'PACKAGECONFIG_pn-flutter-engine = "embedder-for-target disable-desktop-embeddings fontconfig mode-debug"' >> $LOCAL_CONF
          echo 'CORE_IMAGE_EXTRA_INSTALL += "flutter-pi flutter-drm-gbm-backend flutter-gallery"' >> $LOCAL_CONF
          echo '********** ./conf/local.conf **********'
          cat $LOCAL_CONF
          echo '***************************************'
          source ./layers/meta-st/scripts/envsetup.sh --no-ui
          echo '***************************************'
          env
          echo '***************************************'
          bitbake-layers add-layer ../layers/meta-clang ../layers/meta-flutter
          bitbake-layers show-layers
          echo '***************************************'
          bitbake -e > bb.environment
          echo '***************************************'
          bitbake -e virtual/kernel | grep "^PV"
          bitbake -e virtual/kernel | grep "^PN"
 
      - name: Build st-image-core
        shell: bash
        working-directory: ../stm32mp15-dunfell
        run: |
          source ./layers/meta-st/scripts/envsetup.sh --no-ui
          bitbake flutter-engine -c do_cleansstate
          bitbake flutter-sdk-native -c do_cleansstate
          bitbake flutter-pi -c do_cleansstate
          bitbake flutter-drm-gbm-backend -c do_cleansstate
          bitbake flutter-gallery -c do_cleansstate
          bitbake st-image-core
          ls -la tmp-glibc/deploy/images/stm32mp1-disco/*

      - name: Publish OS image artifact
        uses: actions/upload-artifact@v2
        with:
          name: stm32mp15-disco-image
          path: |
             /home/dev/artifacts/*
